@model JobPostingProject.Models.ChangePasswordViewModelCompany

@{
    ViewBag.Title = "Change Password";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control currentPwdInput" } })
                @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control newPwdInput" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmNewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control confirmNewPwdInput" } })
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="change password" id="changePwd" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $("#changePwd").on("click", function (e) {
            e.preventDefault();
            let action = "/Account/ChangePasswordCompanyAJAX";
            console.log(action);

            $.ajax({
                method: "POST",
                url: action,
                data: {
                    CurrentPassword: $(".currentPwdInput").val(),
                    NewPassword: $(".newPwdInput").val(),
                    ConfirmNewPassword: $(".confirmNewPwdInput").val(),
                },
                success: function (result) {
                    if (result.isChanged) {
                        swal("success", "Password changed successfully!", "success");
                    }
                    else {
                        swal("failure", "Current password is incorrect!", "error");
                    }
                },
                error: function (err) { console.log(err); },
            });
        });
    </script>
}
