@using Microsoft.AspNet.Identity;

@using Microsoft.AspNet.Identity.Owin;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HireMe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Content/Site.css">
    @*@RenderSection("inlineSite", false)*@
    @RenderSection("Home", false)
    @RenderSection("test", false)
    @RenderSection("AnnouncementIndex", false)
    @RenderSection("profileIndex", false)
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Content/Admin/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <nav class="main-navbar navbar-light bg-light mb-5" style="box-shadow: 0px 5px 14px -10px rgb(0 0 0 / 87%);">
        <div class="d-flex align-items-center justify-content-start container">
            <a class="navbar-brand navbar-logo" style="" href="@Url.Content("~/Home/Index")">
                <img src="~/Logo.jpg" style="width: 80px;" alt="HireMe Logo" />
            </a>
            <a class="nav-link text-primary" href="@Url.Content("~/Announcement/InitialIndex")">Search for a job</a>
            @Html.Partial("_LoginPartial")
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <div class="mr-3">
                        <div class="dropdown">
                            <img src="@Url.Action("UserPhotos", "Home")" height="40" width="40" class="rounded-circle dropbtn" />
                            <div class="dropdown-content" style="">
                                @{
                                    if (User.Identity.IsAuthenticated && User.IsInRole("Candidate"))
                                    {
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-user-alt"></i>
                                            @Html.ActionLink("Profile", "Index", "Candidate", new { idUser = User.Identity.GetUserId() }, new { @class = "text-decoration-none" })
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-user-edit"></i>
                                            @Html.ActionLink("Edit Profile", "Edit", "Candidate", new { idUser = User.Identity.GetUserId() }, new { @class = "text-decoration-none" })
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-key"></i>
                                            @Html.ActionLink("Change password", "ChangePasswordCandidate", "Account", null, new { @class = "text-decoration-none" })
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-trash-alt"></i>
                                            @Html.ActionLink("Delete account", "DeleteAccountCandidate", "Account", null, new { @class = "text-decoration-none" })
                                        </div>
                                    }
                                    else if (User.Identity.IsAuthenticated && User.IsInRole("Company"))
                                    {
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-user-alt"></i>
                                            @Html.ActionLink("Profile", "Index", "Company", new { idUser = User.Identity.GetUserId() }, new { @class = "text-decoration-none" })
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-user-edit"></i>
                                            @Html.ActionLink("Edit Profile", "Edit", "Company", new { idUser = User.Identity.GetUserId() }, new { @class = "text-decoration-none" })
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-key"></i>
                                            @Html.ActionLink("Change password", "ChangePasswordCompany", "Account", null, new { @class = "text-decoration-none" })
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-trash-alt"></i>
                                            @Html.ActionLink("Delete account", "DeleteAccountCompany", "Account", null, new { @class = "text-decoration-none" })
                                        </div>
                                    }
                                }
                                <div class="d-flex align-items-center">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <a class="text-decoration-none" href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </nav>
    <div class="body-content">
        @RenderBody()
    </div>
    <footer style="background-color: #5666d1;
    color: #fff;
        padding-top: 50px;">
        <div class="container">
            <div class="row mb-4">
                <div class="col-lg-6">
                    <div class="about-us">
                        <h4>About us</h4>
                        <p class="text-white">HireMe a job searching website where you can find thousands of job offers all over the world to increase your chances to find the most suitable job for you and help you get your life to the next level</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer__sitemap">
                        <h4>Important Links</h4>
                        <ul class="list-unstyled">
                            <li>
                                @Html.ActionLink("Search for a job", "InitialIndex", "Announcement", null, new { @class = "text-decoration-none text-white" })
                            </li>

                            @{
                                if (User.Identity.IsAuthenticated && User.IsInRole("Candidate"))
                                {
                                    <li>
                                        @Html.ActionLink("Check out your profile", "Index", "Candidate", new { idUser = User.Identity.GetUserId() }, new { @class = "text-decoration-none text-white" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("My applications", "Index", "Application", new { idUser = User.Identity.GetUserId() }, new { @class = "text-decoration-none text-white" })
                                    </li>
                                }
                                else if (User.Identity.IsAuthenticated && User.IsInRole("Company"))
                                {
                                    <li>
                                        <a href="@Url.Action("CreateAnnouncement", "Announcement")" class="text-decoration-none  text-white">Post a New Job Offer</a>
                                    </li>
                                    <li>
                                        @Html.ActionLink("Check out your profile", "Index", "Company", new { idUser = User.Identity.GetUserId() }, new { @class = "text-decoration-none text-white" })
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer__social-media">
                        <h4>Social medias</h4>
                        <span class="d-block text-white mb-2">
                            Achraf FAWZI : <a href="https://www.linkedin.com/in/achraf-fawzi-dev/" class=" mr-2 text-white"><i class="fab fa-linkedin-in" style="font-size: 20px;"></i></a> <a href="https://github.com/Achraffawzi"><i style="font-size: 20px;" class="fab fa-github text-white"></i></a>
                        </span>
                        <span class="d-block text-white">
                            Jamal IDAISSA : <a href="https://www.linkedin.com/in/jamal-id-aissa-94a19417b/" class="mr-2 text-white"><i class="fab fa-linkedin-in" style="font-size: 20px;"></i></a> <a href="https://github.com/ID-JA"><i style="font-size: 20px;" class="fab fa-github text-white"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <p class="text-white pb-2">&copy; @DateTime.Now.Year - All Rights Reserved To The HireMe Company</p>
        </div>
    </footer>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/fontawesome.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
    <script src="//cdn.ckeditor.com/4.16.0/basic/ckeditor.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>