@using Microsoft.AspNet.Identity;

@using Microsoft.AspNet.Identity.Owin;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HireMe</title>
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    @*@RenderSection("inlineSite", false)*@
    @RenderSection("Home", false)
    @RenderSection("test", false)
    @RenderSection("AnnouncementIndex", false)
    @RenderSection("profileIndex", false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Content("~/Home/Index")">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-primary" href="@Url.Content("~/Home/Index")">Search for a job</a>
                    @*@Html.ActionLink("Search for a job", "Index", "Announcement", new { @class = "nav-link text-primary" })*@
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer style="background-color: #e7e8e8 !important; padding-top: 50px; margin-top: 80px;">
        <div class="container">
            <div class="row mb-4">
                <div class="col-lg-6">
                    <div class="about-us">
                        <h4>About us</h4>
                        <p>HireMe a job searching website where you can find thousands of job offers all over the world to increase your chances to find the most suitable job for you and help you get your life to the next level</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer__sitemap">
                        <h4>Important Links</h4>
                        <ul class="list-unstyled">
                            <li>
                                @Html.ActionLink("Search for a job", "Index", "Home", new { @class = "text-decoration-none" })
                            </li>
                            <li>
                                @Html.ActionLink("Post a New Job Offer", "CreateAnnouncement", "Announcement", new { @class = "text-decoration-none" })
                            </li>
                            @{
                                if (User.Identity.IsAuthenticated && User.IsInRole("Candidate"))
                                {
                                    <li>
                                        @Html.ActionLink("Check out your profile", "Index", "Candidate", new { idUser = User.Identity.GetUserId() }, new { @class = "text-decoration-none" })
                                    </li>
                                }
                                else if (User.Identity.IsAuthenticated && User.IsInRole("Company"))
                                {
                                    <li>
                                        @Html.ActionLink("Check out your profile", "Index", "Company", new { idUser = User.Identity.GetUserId() }, new { @class = "text-decoration-none" })
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer__social-media">
                        <h3>Social medias</h3>
                        <span class="d-block">
                            Achraf FAWZI : <a href="https://www.linkedin.com/in/achraf-fawzi-dev/"><i class="fab fa-linkedin-in"></i></a> <a href="https://github.com/Achraffawzi"><i class="fab fa-github"></i></a>
                        </span>
                        <span class="d-block">
                            Jamal IDAISSA : <a href="https://www.linkedin.com/in/jamal-id-aissa-94a19417b/"><i class="fab fa-linkedin-in"></i></a> <a href="https://github.com/ID-JA"><i class="fab fa-github"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <p style="margin-bottom: 10px;">&copy; @DateTime.Now.Year - All Rights Reserved To The HireMe Company</p>
        </div>
    </footer>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

