@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "mt-0 d-flex ml-auto" }))
    {
        @Html.AntiForgeryToken()
        <ul class="navbar navbar-nav justify-contect-end">
            @{
                if (User.Identity.IsAuthenticated && User.IsInRole("Candidate"))
                {
                    <li>
                        <a class="" href="@Url.Action("Index", "Application", new { idUser = User.Identity.GetUserId() })">
                            <i style="font-size: 23px; color: #111;" class="fas fa-briefcase"></i>
                        </a>
                    </li>
                }
                else if (User.Identity.IsAuthenticated && User.IsInRole("Company"))
                {
                    <li>
                        <a class="" href="@Url.Action("GetAllAnnouncementDoneBy", "Announcement", new { idUser = User.Identity.GetUserId() })">
                            <i style="font-size: 23px; color: #111;" class="fas fa-scroll"></i>
                        </a>
                    </li>
                }
            }
        </ul>
    }
}
else
{
    <ul class="navbar navbar-nav justify-content-end align-items-start ml-auto" style="flex-direction: row!important;">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "mr-3" })</li>

        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

@section inlineSite{
    <link rel="stylesheet" href="~/Content/loginPartial.css" type="text/css" />
}